@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 30, 41, 59;
  --background-start-rgb: 194, 212, 230;
  --background-end-rgb: 163, 189, 212;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}